---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import DatePicker from "../components/DatePicker.astro";
import Hut from "../components/Hut.astro";
import Logo from "../../Asets/Logo.jpg";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="mb-16 min-h-screen overflow-scroll z-40 p-10 pt-20 bg-white flex flex-col">
    <img src={Logo} class="rounded-full w-72 h-auto self-center" alt="">
    <hr>
    <p class="text-center italic mt-6 text-lg text-zinc-600 pb-12">Sumérgete en la belleza natural de Santa Elena y experimenta una estancia inolvidable en nuestro acogedor hostal, Tangará. Ubicado en el corazón de este encantador destino.
    </p>
    <hr class="mb-12">
    <Hut />
	  <DatePicker />
  </main>
  <Footer />
</Layout>
